<div class="WidgetRow">
  <div>Проект:</div>
  <div>Номер <nz-switch [nzSize]="'small'" /></div>
  <div>Глубина <nz-switch [nzSize]="'small'" /></div>
  <div>Угол <nz-switch [nzSize]="'small'" /></div>
  <div>Устье <nz-switch [nzSize]="'small'" /></div>
</div>
<div class="WidgetRow">
  <div>Сетка <nz-switch [nzSize]="'small'" /></div>
</div>
<div class="WidgetRow">
  <div>Факт:</div>
  <div>Номер <nz-switch [nzSize]="'small'" /></div>
  <div>Глубина <nz-switch [nzSize]="'small'" /></div>
  <div>Угол <nz-switch [nzSize]="'small'" /></div>
  <div>Проект <nz-switch [nzSize]="'small'" /></div>
</div>
