:root {
  --BackgroundColor: #002140;
  --TextColor: "#ffffff";
  --ErrorColor: "#ff0000";
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}
.WidgetContainer {
  background-color: var(--BackgroundColor);
  pointer-events: visible;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.Clicked {
  cursor: pointer;
}
